.main_container {
  @apply flex-col rounded border border-[#DDDDDF] 
  outline-none py-6 text-gray-300 px-4 md:px-6 items-start mt-4 mx-4 mb-4 lg:mb-0 md:mt-7 lg:mt-[33px] md:mx-[70px] lg:mx-0 xl:p-7 macbook:p-12;
}
.sub_container {
  @apply flex-col w-[288px] h-[52px];
}
.sub_paragraph {
  @apply font-Poppins font-medium text-14 xs:text-base leading-5 tracking-tighter text-[#9A9AA2];
}
.sub_heading {
  @apply self-stretch text-[#45454A] font-Poppins text-20 xs:text-32 mt-3 not-italic font-medium leading-8 tracking-tighter;
}
.mid_section {
  @apply flex-col;
}
.sub_paragraph_details {
  @apply font-Poppins font-normal text-base leading-6 text-[#71717A] mt-8;
}
.mail_address {
  @apply text-[#48678B] ml-1;
}
.write_to_us_wrapper {
  @apply flex w-fit px-8 h-[56px] gap-[10px] rounded-lg border-2 items-center justify-center border-[#71717A] bg-[#FFF];
}
.tbMail_icon {
  @apply w-[20px] h-[21px] text-[#71717A];
}
.write_to_us_text {
  @apply font-Poppins w-[86px] h-[20px] text-[#1f1f27] text-base leading-5;
}
.chat_now_wrapper {
  @apply flex w-fit px-8 h-[56px] rounded-lg justify-center items-center bg-[#F6B704] gap-[10px] cursor-pointer;
}
.message_icon {
  @apply w-[20px] h-[21px] text-[#222];
}
.chat_now_text {
  @apply text-[#222] w-[78px] font-Poppins font-medium text-base leading-5 justify-center items-center;
}
.btn_wrapper {
  @apply flex flex-col lg:flex-row gap-4 mt-5;
}
