/* .stepHeading {
  @apply;
} */
.formHeadingFirst {
  @apply mt-1;
}

.selContainer {
  @apply md:p-4 px-4 py-3 inline-block w-full md:w-auto;
  border-radius: 12px;
  border: 1px solid #dddddf;
  min-width: 189px;
}
.selContainer:hover {
  @apply border border-71717A;
}
.selHeading {
  @apply capitalize text-14 tracking-desc md:tracking-0.3 md:text-16 text-222 font-Poppins flex items-center gap-2;
}
/* .selHeadingTxt {
  @apply ml-2;
} */
.selDivider {
  @apply my-2 hidden md:block;
}
.selFooter {
  @apply text-12 tracking-0.24 text-71717A font-Poppins ml-7 md:ml-0;
}
.formHeadingSecond {
  @apply mt-8  flex flex-col md:block;
}
.selectionBox {
  @apply mt-2;
}
.orBox {
  @apply md:hidden flex justify-center items-center;
  color: #71717a;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 10px 0;
}

.formInputFirst {
  @apply mt-2 w-full;
}

.btnGroupContainer {
  @apply -mx-4 md:-mx-0;
  box-shadow: none;
}
@media (max-width: 767px) {
  .btnGroupContainer {
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.btnGroup {
  @apply flex flex-col px-4 md:px-0 md:flex-row md:mt-8 bg-fff -mb-6 md:-mb-0 bottom-0 mt-4 md:static;
}
.laterBtn {
  @apply mt-4 md:mt-0;
}

.saveBtn {
  @apply mt-3 md:mt-0 mb-4 md:mb-0;
}

.lableStyle {
  @apply block;
}
.chooseFile {
  @apply inline-block pl-2 max-w-[249px] lg:max-w-full lg:w-full truncate;
}
.input_wrapper {
  @apply flex items-center w-full lg:w-fit;
}
.check_wrapper {
  @apply items-center ml-2 cursor-pointer;
  animation: slideIn 1.5s normal;
}
.showDeleteIcon {
  @apply hidden w-5 h-5 justify-center items-center rounded-full bg-[#D96060] p-1;
}
.showCheckCircle {
  @apply flex w-5 h-5;
}
.input_wrapper:hover .showDeleteIcon {
  @apply flex;
}
.input_wrapper:hover .showCheckCircle {
  @apply hidden;
}
@keyframes slideIn {
  0% {
    opacity: 0;
  }
  99.999% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
