.main_container {
  @apply px-0 md:px-[70px] xl:px-[90px] macbook:px-[122px] 3xl:px-[160px] font-Poppins py-2;
}
.flexx {
  @apply flex items-center gap-2;
}
.bread_crumps {
  @apply lg:flex items-center gap-2 hidden;
}
.crumpItem {
  @apply text-14 leading-6 text-71717A;
}
.carousel_wrapper {
  @apply w-full lg:w-[60%] macbook:w-[727px] 4xl:w-[55%];
}
.main_section {
  @apply flex flex-col lg:flex-row gap-6 -mt-4 md:mt-1 lg:mt-4;
}
.prod_img {
  @apply relative w-full h-[270px] md:h-[400px] lg:h-[546px] mt-2 md:mt-0;
}
.info {
  @apply flex gap-1 p-1 xl:px-2 xl:py-1 rounded-[4px] absolute top-0 left-0 xl:left-2 text-fff text-12 xl:text-14 xl:font-medium tracking-0.24 xl:tracking-desc uppercase items-center;
  background: rgba(62, 104, 142, 0.6);
}
.arrow_div {
  @apply hidden absolute w-12 h-full lg:flex items-center;
}
.arrow {
  @apply w-12 h-12 z-50 flex justify-center cursor-pointer items-center rounded-full  top-[46.7%];
  background-color: rgba(255, 255, 255, 0.8);
}
.arrowPrev {
  @apply left-2;
}
.arrowNext {
  @apply right-2;
}
.thumbnail_container {
  @apply hidden lg:flex gap-4  mt-6;
}
.thumbnail_img {
  @apply p-1 w-[8rem] 4xl:w-[10rem] h-[5.6rem] 4xl:h-[7rem] border-[2.497px] cursor-pointer;
}
.header_div {
  @apply flex gap-2;
}
.item_name {
  @apply text-16 mobile:text-20 xl:text-24 mobile:leading-8 xl:leading-10 font-medium text-45454A tracking-0.4 xl:tracking-[-0.48px] mobile:w-[256px] sm:w-full xl:w-[341px];
}
.rupeeIcon {
  @apply font-Inter;
}
.rating_div {
  @apply flex justify-between mt-3;
}
.rating_txt {
  @apply text-45454A text-14 xl:text-16 font-medium leading-5 tracking-0.3 flex items-center;
}
.rating_wrapper {
  @apply flex mobile:gap-3;
}
.sold_out_div {
  @apply gap-[6px] flex;
}
.sold_out_txt {
  @apply bg-[#63798D] py-[2px] px-1 rounded text-16 font-medium leading-5 tracking-0.3 text-fff;
}
.sold_out_icon {
  @apply w-6 h-6;
}
.indicatorStyle {
  @apply w-[6px] h-[6px] mx-1 cursor-pointer inline-block rounded-[3px] lg:hidden;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
.details_wrapper {
  @apply px-4 md:px-0;
}
.circle_div {
  @apply flex gap-4;
}
.duration {
  @apply mt-8;
}
.duration_text {
  @apply text-14 font-medium tracking-[-0.42px] text-71717A xl:text-16 xl:tracking-0.3 xl:leading-6;
}
.duration_circle {
  @apply mt-4 w-12 font-medium h-12 flex justify-center items-center rounded-[48px] border-2 border-[#597492] cursor-pointer;
}
.duration_circle:hover {
  box-shadow: 0px 0px 16px 0px rgba(47, 129, 205, 0.6);
}
.deposit_div {
  @apply mt-4 xl:mt-6 flex justify-between xs:justify-normal xs:gap-5 items-center;
}
.deposit_txt {
  @apply font-medium text-12 mobile:text-14 leading-5 text-71717A;
}
.originalPrice {
  @apply text-14 xl:text-16 tracking-0.3 text-9A9AA2 line-through flex items-center;
}
.currentPrice {
  @apply text-16 mobile:text-18 xl:text-20 text-222 font-medium tracking-0.4 flex items-center;
}
.discount {
  @apply bg-[#207B3A] flex justify-center xl:font-semibold items-center rounded-3xl w-[50px] mobile:w-[72px] xl:w-[93px] h-5 xl:h-7 text-[10px] mobile:text-12 xl:text-16 leading-5 xl:leading-normal text-fff;
}
.btn {
  @apply cursor-pointer mt-12 bg-btn-primary flex justify-center items-center w-full md:w-[440px] lg:w-full h-12 xl:h-14 rounded-lg text-16 text-222 font-medium;
}
.emi_wrapper {
  @apply py-1 xl:py-2 px-[3px] xl:px-4 rounded-lg flex w-full md:w-[440px] lg:w-full items-center justify-center gap-1 xl:gap-2 mt-4;
  background: linear-gradient(138deg, #e8f0f6 0%, #fffaeb 99.38%);
}
.emi_text {
  @apply text-12 xl:text-14 font-medium leading-6 text-[#597492];
}
.kyc_wrapper {
  @apply flex gap-3 items-center mt-6;
}
.kyc_text {
  @apply text-12 xl:text-14 tracking-[-0.24] xl:tracking-desc text-45454A leading-normal;
}
.installation_wrapper {
  @apply flex gap-3 items-center mt-[12.5px];
}
.city_shield_wrapper {
  @apply rounded-xl p-4 xl:p-6 w-full relative mt-12 cursor-pointer;
  background: linear-gradient(
    133deg,
    #f1eeff 0%,
    #f1eeff 44.79%,
    rgba(167, 201, 233, 0) 72.92%,
    #e5dffd 100%
  );
}
.getPeace_div {
  @apply -top-5 absolute bg-[#A048BF] rounded gap-1 flex justify-center items-center  px-2 py-1;
}
.getPeace_text {
  @apply text-fff text-12 xl:text-14 font-medium uppercase tracking-[-0.24px] xl:tracking-desc;
}
.read_more {
  @apply bg-btn-primary px-[2px] mobile:px-[6px] py-[2px] text-10 mobile:text-12 xl:text-14 tracking-desc text-222 rounded;
}
.city_shield_head {
  @apply text-16 mobile:text-20 font-semibold leading-[30px] text-[#2D9469] uppercase;
}
.opt_for {
  @apply mt-3 text-71717A text-12 xl:text-14 tracking-desc;
}
.protect {
  @apply mt-3 text-45454A text-12 xl:text-14 tracking-desc;
}
.cityshield_prices {
  @apply mt-6 flex gap-2 items-center;
}
.services_cards_container {
  @apply flex gap-6 w-full overflow-scroll mt-6 cursor-pointer;
}
.service_card_wrapper {
  @apply p-4 relative min-w-[211px] md:min-w-[240px] xl:min-w-[295px] rounded-lg;
  border: 1px solid #e3e1dc;
}
.service_card_head {
  @apply text-222 leading-6 tracking-0.3 lg:mt-6 font-medium;
}
.service_card_desc {
  @apply text-12 lg:text-14 leading-6 tracking-desc text-71717A mt-1;
}
.service_card_img {
  @apply absolute top-4 right-4 lg:static w-[22px] h-[22px];
}
.mobile {
  @apply lg:hidden;
}
.web {
  @apply hidden lg:flex;
}
.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sticky_bar_wrapper {
  @apply hidden items-center rounded-t-2xl mx-auto py-3 px-4 lg:flex gap-3 md:gap-8 xl:gap-14 min-h-[80px] z-[999] bg-fff fixed bottom-0 left-[50%];
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.25);
  transform: translateX(-50%);
}
.sticky_bar_head {
  @apply w-[278px] text-16 xl:text-20 text-45454A font-medium tracking-0.4;
}
