.main_container {
  @apply px-4 md:px-[70px] xl:px-[90px]  macbook:px-[122px] 3xl:px-[160px] font-Poppins py-12;
}
.img_wrapper {
  @apply relative w-full;
}
.img {
  @apply min-w-full h-full;
}
.desc_div {
  @apply mx-4 xl:mx-6 w-[80%] 3xl:w-[90%] p-4 xl:p-6 z-50 top-7 xl:top-9 overflow-hidden bg-[#2A2A2A] xl:left-3 absolute;
}
.desc {
  @apply xl:mt-3 text-fff text-20 xl:text-32 tracking-0.4 xl:tracking-[-0.64px] xl:!truncate;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
}
