.freq_asked_que_wrapper {
  @apply flex flex-col lg:flex-row gap-4 lg:justify-between px-4 md:px-[70px] xl:px-[90px] macbook:px-[122px] 3xl:px-[160px] font-Poppins my-8 xl:my-16;
}
.head {
  @apply text-20 lg:text-32 lg:w-[23rem] 3xl:w-[30rem] leading-8 lg:leading-10 font-medium text-45454A tracking-heading;
}
.QuesAnsArray_div {
  @apply flex flex-col gap-6;
}
.quesWrapper {
  @apply flex justify-between lg:gap-3 items-center cursor-pointer;
}
.ques {
  @apply font-medium lg:text-20 lg:leading-7 leading-6 text-45454A lg:tracking-heading tracking-0.3 w-[18.6rem] lg:w-[39.69rem] 3xl:w-[44rem];
}
.ans {
  @apply text-14 lg:text-16 font-normal leading-5 lg:leading-6 lg:tracking-0.3 text-45454A mt-2 w-[18.6rem] lg:w-[39.69rem] 3xl:w-[44rem];
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.ans_open {
  max-height: fit-content;
  opacity: 1;
}
.btn {
  @apply mt-2 bg-[#F6B704] rounded-lg flex  items-center justify-center gap-[10px] px-8 lg:h-[56px] h-[48px] w-fit cursor-pointer;
}
.btn_txt {
  @apply text-[#222] font-medium;
}
.forword_icon {
  @apply w-4 h-4 xl:w-5 xl:h-5;
}

.faq_skeleton_wrapper {
  @apply flex my-8 w-full px-4 md:px-[70px] xl:px-[90px] macbook:px-[122px] 3xl:px-[160px] justify-between;
}

.show_more_div {
  @apply flex gap-2 items-center text-5774AC text-16 xl:text-20 font-medium tracking-0.3 xl:tracking-0.4 cursor-pointer;
  color: #5774ac;
}
.down_arrow {
  @apply text-222 w-5 h-5 xl:h-6 xl:w-6;
}
