.main_container {
  @apply xl:pb-10 xl:pt-6 py-4 px-4 md:px-[70px] xl:px-[90px] macbook:px-[120px] 3xl:px-[160px] font-Poppins flex flex-col lg:flex-row gap-8 lg:gap-12 xl:gap-36 macbook:gap-[214px] 4xl:gap-0 4xl:justify-between;
}
.left_div {
  @apply pb-6;
  /* @apply lg:h-[100vh] lg:overflow-y-scroll overflow-x-visible; */
}
.head_div {
  @apply flex gap-2 items-center cursor-pointer;
}
.head {
  @apply text-16 xl:text-20 text-45454A leading-6 xl:leading-10 font-medium tracking-0.3 xl:tracking-0.4;
}
.saved_address_div {
  @apply overflow-y-scroll mt-4 lg:mt-6 xl:mt-8 p-4 border border-DDDDDF rounded-xl md:w-[537px] lg:w-full xl:w-[516px] macbook:w-[537px] min-h-[127px] hover:border-2 hover:border-5774AC hover:p-[15px] cursor-pointer;
}
.saved_address_div:hover .change_btn {
  @apply border-5774AC;
}
.saved_add_head {
  @apply text-45454A text-16 xl:text-20 font-medium leading-[30px];
}
.saved_add_upper_div {
  @apply flex justify-between items-center;
}
.change_btn {
  @apply w-[73px] xl:w-[79px] border-2 border-71717A h-[26px] flex justify-center items-center rounded-lg text-71717A font-medium text-14 xl:text-16;
}
.name_div {
  @apply flex gap-2 items-center mt-[5.5px] xl:mt-[12.5px] mb-[10px];
}
.saved_name {
  @apply text-222 text-14 xl:text-16 font-medium tracking-desc xl:tracking-0.3;
}
.saved_address {
  @apply text-12 xl:text-14 text-45454A tracking-desc truncate;
}
.new_address_wrapper {
  @apply mt-8 xl:mt-10;
}
.new_add_head {
  @apply text-45454A text-20 xl:text-24 font-medium leading-8 tracking-0.4 xl:tracking-0.48 mb-4;
}
.add_new_info {
  @apply rounded-lg py-1 px-2 mt-3 gap-1 flex items-center w-fit;
  border: 1px solid #dddddf;
  background: #f3f5f8;
}
.add_new_info_text {
  @apply text-71717A text-16 font-medium leading-5;
}
.form_field {
  @apply mt-4 w-full xl:w-[516px] macbook1:w-[537px];
}
.form_label {
  @apply text-71717A text-14 xl:text-16 tracking-desc xl:tracking-0.3 leading-normal;
}
.form_input {
  @apply font-Poppins w-full tracking-desc xl:tracking-0.3 text-14 xl:text-16 outline-none hover:border-71717A h-[45px] xl:h-14 px-4 py-3 border border-DDDDDF rounded-xl placeholder:text-14 placeholder:text-71717A placeholder:xl:text-16 placeholder:tracking-desc placeholder:xs:tracking-0.3 mt-1 resize-none;
}
.order_type_field {
  @apply outline-none border-none cursor-pointer placeholder:text-14 placeholder:text-71717A placeholder:xl:!text-16 placeholder:tracking-desc placeholder:xs:tracking-0.3;
}
.form_input_textarea {
  @apply placeholder:text-left -mb-[7px] w-full tracking-desc xl:tracking-0.3 text-14 xl:text-16 outline-none hover:border-71717A xl:h-14 px-4 py-3 border border-DDDDDF rounded-xl placeholder:text-14 placeholder:text-71717A placeholder:xl:text-16 placeholder:tracking-desc placeholder:xs:tracking-0.3 resize-none mt-1;
}
.contact_input {
  @apply font-Poppins tracking-desc xl:tracking-0.3 text-14 xl:text-16 w-full border-none outline-none bg-transparent placeholder:text-14 placeholder:text-71717A placeholder:xl:text-16 placeholder:tracking-desc placeholder:xs:tracking-0.3;
}
.flag {
  @apply w-6 h-6;
}
.textarea {
  @apply !h-[66px] -mb-[7px];
}
.error {
  @apply text-[#D96060] text-12 leading-4 tracking-0.24 mt-1;
}
.save_btn {
  @apply mt-8 border-2 rounded-lg font-medium border-71717A text-71717A text-14 xl:text-16 tracking-0.3 leading-normal w-[200px] lg:w-full xl:w-[516px] macbook:w-[537px] h-12 lg:h-14 flex justify-center items-center;
}
.right_div {
  @apply flex flex-col 4xl:flex-row gap-6 pb-[100px] lg:pb-0;
}
.box_wrapper {
  @apply flex gap-4 justify-between items-center p-4 border border-DDDDDF rounded-lg hover:border-2 hover:border-5774AC hover:p-[15px] md:w-[440px] lg:w-full xl:w-[440px];
}
.whatsapp_icon {
  @apply w-6 h-6;
}
.box_wrapper_left_div {
  @apply flex gap-[11px] items-center;
}
.box_desc {
  @apply text-45454A text-16 xl:text-20 font-medium leading-normal xl:leading-10 tracking-0.4;
}
.hash {
  @apply text-24 xl:text-[30px] font-medium text-45454A;
}
.tenure_info {
  @apply flex gap-[11px] pl-1 md:w-[440px] lg:w-full xl:w-[440px];
}
.kyc_info {
  @apply flex gap-[11px] -mt-2 md:w-[440px] lg:w-full xl:w-[440px] pl-1;
}
.desc {
  @apply text-45454A text-12 xl:text-14 tracking-0.24 xl:tracking-desc;
}
.calendar {
  @apply min-w-[16px] xl:min-w-[24px] mt-1;
}
.verified_icon {
  @apply min-w-[18px] xl:min-w-[22px] h-6;
}
.not_belong_wrapper {
  @apply mb-3 rounded-lg bg-[#FFEFEF] border border-DDDDDF px-2 py-1 w-fit;
}
.not_belong_text {
  @apply text-[#D96060] text-12 md:text-16 font-medium leading-5;
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .left_div {
    width: 68%;
  }
}

.order_type_field {
  @apply cursor-pointer flex justify-between items-center w-full text-14 xl:text-16 placeholder:text-14 placeholder:text-71717A placeholder:tracking-0.3;
}
.ordertype_option {
  @apply py-3 -mx-3 px-3 border-t border-t-DDDDDF cursor-pointer text-16 tracking-0.3 leading-6 hover:bg-[#EFF5FF] hover:text-5774AC;
}
.ordertype_option_mobile {
  @apply flex justify-between h-[45px] items-center cursor-pointer text-14 text-5774AC font-medium tracking-desc leading-6;
}
.form_input::placeholder {
  @apply text-14 xl:text-16;
}
.contact_input::placeholder {
  @apply text-14 xl:text-16;
}
.form_input_textarea ::placeholder {
  @apply text-14 xl:text-16;
}

.close_icon {
  @apply fixed right-4 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-[64px];
}
.bottomDrawer {
  @apply !rounded-t-[20px] md:!rounded-t-none !pt-6 pb-8 !h-fit px-4;
  overflow-y: visible !important;
}
.drawer_head {
  @apply text-16 leading-6 font-medium text-45454A;
}
.line {
  @apply border-b border-EDEDEE my-3;
}
/* For mobile phones: to oprevent zooming in ios */
/* @media only screen and (max-width: 768px) {
  .form_input .contact_input .form_input_textarea .textarea .order_type_field {
    font-size: 14px;
    transform: scale(0.875);
    transform-origin: left center;
    margin-right: -14.28%;
  }
} */
