.conatiner_wrapper {
  @apply 3xl:px-[160px] macbook:px-[122px] xl:px-[90px] md:px-[70px] px-4 mb-4;
}
.container {
  @apply hidden w-full xs:block;
}
.listings {
  @apply flex w-full items-center flex-wrap list-none;
}
.list {
  @apply mr-1 relative inline-flex items-center font-Poppins;
}
.route_text {
  @apply text-71717A text-14 font-normal font-Poppins leading-6 pr-1;
}

.heading {
  @apply font-Poppins text-20 md:text-24 font-medium leading-8 md:leading-10 tracking-[-0.4px] md:tracking-[-0.48px] text-45454A pt-4 pb-6 md:pb-8;
}
.searchHeading {
  @apply flex items-center cursor-pointer font-Poppins text-20 md:text-24 font-medium leading-8 md:leading-10 tracking-[-0.4px] md:tracking-[-0.48px] text-45454A;
}
.searchHeading:hover {
  @apply underline underline-offset-4;
}
.open_searchbar_main {
  @apply gap-2 cursor-pointer border border-ECECEC rounded-xl bg-white w-full md:w-[35%]  px-4 py-3 items-center mb-6 md:mb-8;
}
.search_wrapper {
  @apply flex;
}
.search_input_field {
  @apply flex w-full outline-none pl-2;
  transform: scale(0.875);
  transform-origin: left center;
  margin-right: -14.28%;
}
.open_searchbar_main:hover {
  @apply border-71717A;
}
.tabs_wrapper {
  @apply flex overflow-x-scroll w-full pb-4;
}
.tab_wrapper {
  @apply cursor-pointer border-b-[1px] border-b-[#EDEDEE];
}
.tab_item {
  @apply pb-1 md:pb-2 flex w-max font-Poppins text-14 md:text-16 font-medium tracking-[-0.32px];
}
.QuesAnsArray_div {
  @apply flex flex-col gap-6 mb-8 md:mb-12;
  transition: width 3s;
  transition-delay: 1s;
}
.quesWrapper {
  @apply flex justify-between lg:gap-3 items-center cursor-pointer;
}
.ques {
  @apply font-medium text-14 md:text-16 leading-normal text-45454A tracking-heading font-Poppins;
}
.ans {
  @apply font-normal text-14 md:text-16 leading-normal text-71717A tracking-heading font-Poppins mt-2;
  /* @apply text-14 lg:text-16 font-normal leading-5 lg:leading-6 lg:tracking-0.3 text-45454A mt-2 w-[18.6rem] lg:w-[39.69rem] 3xl:w-[44rem]; */
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.ans_wrapper {
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}
.ans_open {
  max-height: fit-content;
  opacity: 1;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  /* max-height: 0; */
  /* opacity: 0; */
  overflow: hidden;
}
.bottom_button_wrapper {
  @apply mb-12 md:mb-[88px];
}
.bottom_heading {
  @apply text-45454A font-Poppins text-16 md:text-20 font-medium tracking-[-0.4px] mb-4;
}
.button_wrapper {
  @apply flex flex-col md:flex-row gap-4;
}
.contact_btn {
  @apply flex px-5 md:px-8 py-3 h-[56px] items-center justify-center border-2 w-full rounded-lg border-71717A text-71717A font-Poppins text-14 md:text-16 font-medium;
}
.request_btn {
  @apply flex px-5 md:px-8 py-3 h-[56px] items-center justify-center rounded-lg w-full md:w-max mt-3 md:mt-0 text-222 font-Poppins text-14 md:text-16 font-medium bg-F6B704 tracking-[-0.32px] capitalize;
}
.noDataText {
  @apply text-9A9AA2 font-Poppins text-14 md:text-16 font-medium leading-6 tracking-[-0.32px];
}
