.wrapper {
  @apply pl-4;
}
.heading {
  @apply text-20 font-medium leading-8 tracking-heading text-45454A;
}
.cards_wrapper {
  @apply w-full overflow-scroll flex gap-3 mt-4;
}
.card {
  @apply w-[309px] h-[100px] relative items-center rounded-xl flex py-4 gap-4 pl-5 pr-[17px] bg-[#3D2D95];
}
.desc {
  @apply text-12 tracking-desc text-[#CCC5F4] leading-normal w-[116px];
}
.code {
  @apply mt-2 text-[16px] -tracking-[0.32px] w-[10rem] leading-normal text-white;
}
.copy_div {
  @apply text-14 tracking-desc flex w-24 h-9 bg-white rounded-[20px] justify-center gap-1 items-center;
}
.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  border-left: 2px dashed #7e6dd5;
}
.ellipse {
  @apply w-4 h-4 bg-F7F7F8 rounded-full absolute;
}
.left {
  @apply -left-2 top-[45px];
}
.right {
  @apply right-0 top-[45px];
}
