.wrapper {
  @apply pl-4 md:pl-[70px] xl:pl-[90px] macbook:pl-[122px] 3xl:pl-[160px] mt-8 xl:mt-20;
}
.heading {
  @apply text-20 font-medium leading-8 xl:text-32 xl:leading-10 xl:tracking-0.6 tracking-heading text-45454A;
}
.cards_wrapper {
  @apply w-full overflow-scroll flex gap-3 3xl:gap-4 mt-4 xl:mt-8;
}
.card {
  @apply cursor-pointer 3xl:h-[135px] h-[100px] xl:min-w-[395px]  2xl:min-w-[405px] 3xl:min-w-[423px] relative items-center rounded-xl flex py-4 gap-4 xl:pl-5 pl-3 pr-[17px] xl:w-[395px]   3xl:w-[423px];
  background: url("https://d3juy0zp6vqec8.cloudfront.net/images/cfnewimagesmob/coupon1.webp")
    no-repeat;
  background-size: cover;
}
.desc {
  @apply text-12 tracking-desc text-[#CCC5F4] leading-normal w-[116px] xl:w-full truncate;
}
.code {
  @apply mt-2 text-16 -tracking-[0.32px] w-max font-Poppins font-light xl:font-normal leading-normal text-white;
}
.copy_div {
  @apply text-14 tracking-desc flex min-w-[6rem] xl:min-w-[5.7rem] h-9 bg-white rounded-[20px] justify-center gap-1 items-center mr-[-7px] xl:mr-0;
}
.line {
  @apply right-28 xl:right-32 3xl:right-40 absolute top-0 bottom-0;
  border-left: 2px dashed #7e6dd5;
}
.ellipse {
  @apply w-4 h-4 bg-F7F7F8 rounded-full absolute top-[42px] 3xl:top-[60px];
}
.left {
  @apply -left-2;
}
.right {
  @apply right-[-7px];
}
.Skeleton_text {
  @apply text-18 w-1/2;
}
.offer_card_skeleton {
  @apply flex w-full;
}
.offer_coupon_skeleton {
  @apply flex mr-4 w-full h-full my-6;
}
.skeleton_wrapper {
  @apply flex flex-col my-8 pl-4 md:pl-[70px] xl:pl-[90px] macbook:pl-[122px] 3xl:pl-[160px] mt-8 xl:mt-20 overflow-x-scroll;
}
.div_wrap {
  @apply min-h-[135px] h-[155px] xl:min-w-[395px] 2xl:min-w-[405px] 3xl:min-w-[423px] relative items-center rounded-xl flex py-4 gap-4 min-w-[250px];
}
