.header_wrapper {
  @apply flex bg-F7F7F8 border-b-DDDDDF md:rounded;
}
.header {
  @apply min-w-max text-20 xl:text-24 font-medium leading-8 xl:leading-10 tracking-0.4 xl:tracking-0.48 py-4 px-4 xl:px-6 cursor-pointer border-b border-r border-DDDDDF;
}
.selected_tab {
  @apply text-5774AC border-b-fff border-b bg-fff;
}
.box {
  @apply w-full mt-6 xl:mt-8;
}
.upperBox {
  @apply bg-[#f9f9f9] rounded-t-lg p-4 border border-EDEDEE xl:flex xl:justify-between;
}
.dotted_line {
  @apply border-b border-dotted border-DDDDDF w-full xl:hidden my-4;
}
.grad_bg {
  background: linear-gradient(90deg, #f9efef 0%, #f9f9f9 100%) !important;
}
.left_part {
  @apply flex gap-2 items-center;
}
.status_wrapper {
  @apply flex justify-between items-center xl:block;
}
.status {
  @apply text-45454A text-14 xl:text-16 font-medium tracking-desc xl:tracking-0.3;
}
.date {
  @apply text-71717A text-12 xl:text-14 tracking-0.24 xl:tracking-desc;
}
.help_txt {
  @apply text-5774AC text-12 xl:text-14 cursor-pointer;
}
.lower_box {
  @apply cursor-pointer p-4 flex justify-between items-center border border-EDEDEE border-t-transparent;
}
.lower_box:hover {
  background: linear-gradient(90deg, #fff 0%, #fff 88.9%, #ececec 100%);
}
.img_wrapper {
  @apply relative w-[80px] h-[60.15px];
}
.more_div {
  @apply border-2 border-71717A bg-[#F9F9F9] rounded-sm w-[80px] h-[60.15px] flex justify-center items-center text-71717A font-medium text-16;
}
.quantity_label {
  @apply rounded-sm border border-71717A w-6 h-6 absolute bottom-1 right-1 bg-fff text-71717A text-12 font-medium leading-3 flex justify-center items-center;
}
.optional_div {
  @apply border-b border-b-EDEDEE border-x border-x-EDEDEE p-4 xl:py-5;
}
.optional_txt {
  @apply text-71717A text-12 xl:text-16 tracking-0.24 xl:tracking-0.3;
}
.highlighted_txt {
  @apply text-5774AC underline cursor-pointer;
}
.for_arrow {
  @apply cursor-pointer border-71717A hover:border-5774AC p-2 xl:p-4 xl:mr-3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.lower_box:hover .for_arrow {
  @apply border-5774AC;
}
.arrow_wrapper {
  transition: transform 0.3s ease-in-out;
}
.lower_box:hover .arrow_wrapper {
  transform: translate(10px, 0px);
}
