.main_container {
  @apply font-Poppins px-4 md:px-[70px] lg:px-[70px] xl:px-[90px] macbook:px-[122px] 3xl:px-[160px] xl:mt-7 pb-12 xl:pb-[88px];
}
.header {
  @apply text-45454A text-20 xl:text-24 font-medium leading-8 tracking-0.3 xl:tracking-0.48;
}
.coupons_wrapper {
  @apply mt-6 xl:mt-10 flex flex-wrap gap-6 xl:gap-8;
}
.card_wrapper {
  @apply w-full xs1:w-[328px] xl:w-[365px];
}
.coupon_card {
  @apply mt-2 xl:mt-3 cursor-pointer h-[100px] w-full relative items-center rounded-xl flex py-4 gap-4 pl-5 pr-[17px] justify-between;
  background: url("https://d3juy0zp6vqec8.cloudfront.net/images/cfnewimagesmob/coupon1.webp")
    no-repeat;
  background-size: cover;
}
.top_label {
  @apply text-45454A text-16 xl:text-20 font-medium tracking-0.3 xl:tracking-0.4 leading-[18px] xl:leading-[22px];
}
.top_label_span {
  @apply text-9A9AA2 text-14 xl:text-16 tracking-desc xl:tracking-0.3 block;
}
.bottom_description {
  @apply mt-2;
}
.desc {
  @apply text-71717A text-12 xl:text-14 tracking-0.24 xl:tracking-desc;
}
.desc_row {
  @apply flex gap-2 items-baseline md:items-center;
}
.offer_txt {
  @apply text-12 tracking-desc text-[#CCC5F4] leading-normal;
}
.dot {
  @apply px-[2px] w-1 h-1 rounded-full bg-71717A ml-2;
}
.terms_wrapper {
  @apply mt-8 xl:mt-[88px];
}
.terms_header {
  @apply text-16 xl:text-20 font-medium leading-normal tracking-0.3 xl:tracking-0.36;
}
.terms_list {
  @apply flex flex-col gap-3 xl:gap-4 xl:mt-8 mt-4;
}
.terms_desc {
  @apply text-14 xl:text-16 tracking-desc xl:tracking-0.3 text-71717A;
}
.line {
  @apply right-32 3xl:right-40 absolute top-0 bottom-0;
  border-left: 2px dashed #7e6dd5;
}

.main_container_skeleton {
  @apply mt-8;
}
.coupons_wrapper_skeleton {
  @apply flex md:w-[328px] w-full flex-col gap-2;
}
.Skeleton_full {
  @apply w-full h-full;
}
.Skeleton_points_wrapper {
  @apply flex flex-col w-full;
}
.skeleton_point {
  @apply flex w-2/3 mb-1 h-3 items-center;
}
.skeleton_data {
  @apply flex w-full gap-5 flex-wrap;
}
