.main_container {
  @apply font-Poppins  lg:flex lg:gap-12 xl:gap-16 px-4 lg:pl-0 md:px-[70px] lg:pr-[70px] xl:pr-[90px] macbook:pr-[122px] 4xl:pr-[130px] lg:-mt-6;
}
.web {
  @apply hidden xl:block;
}
.mobile {
  @apply xl:hidden mt-3;
}
.doc_side_bar {
  @apply hidden lg:block min-w-fit;
}
.mobile_close_icon {
  @apply fixed right-4 w-6 h-6 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-[80px];
}
.detail_div {
  @apply w-full lg:pb-[88px] pb-[48px];
}
.header {
  @apply mt-4 lg:mt-10 text-45454A text-18 xl:text-24 font-Poppins font-medium leading-8 tracking-[-0.36] xl:tracking-0.48;
}
.desc {
  @apply text-71717A text-14 xl:text-16 tracking-desc xl:tracking-0.3 font-Poppins;
}
.createRequestBtn {
  @apply bg-F6B704 rounded-lg w-fit px-8 lg:h-[56px] h-[48px] flex gap-[10px] text-16 font-medium font-Poppins whitespace-nowrap items-center;
}
.des_wrapper {
  @apply flex justify-between w-full lg:items-center mt-8 gap-8 lg:flex-row flex-col;
}
.rightDrawer {
  @apply md:p-12 p-4 pr-8 md:w-[530px] 3xl:w-[680px] w-full rounded-t-[20px] md:rounded-none min-h-[600px] h-auto md:h-full max-h-[690px] md:max-h-full;
}

.content_wrapper {
  @apply flex w-full flex-col;
}
.main_heading {
  @apply flex font-Poppins font-medium text-24 leading-[32px] w-full gap-2 text-45454A items-center;
}
.sub_heading {
  @apply my-8 text-71717A text-16 font-Poppins;
}
.info_wrapper {
  @apply flex flex-col w-full gap-6 md:h-[80vh] h-[600px] overflow-y-scroll;
}
.order_row {
  @apply flex w-full gap-2 items-center;
}
.radio_button {
  @apply w-[20px] h-[20px] bg-5774AC cursor-pointer;
}
.bottom_row {
  @apply flex flex-col md:w-[530px] 3xl:w-[680px] w-full right-0 items-center fixed bottom-0 bg-white;
}
.bottom_line {
  @apply w-full h-[2px] bg-DDDDDF;
}
.proceed_btn {
  @apply mt-8 rounded-lg bg-F6B704 font-medium text-222 md:w-[393px] w-[95%] px-8 h-12 lg:h-14 flex items-center justify-center gap-[10px] mb-6 outline-none font-Poppins mx-4 md:mx-0;
}
.product_img {
  @apply w-[80px] h-[80px] rounded-lg;
}
.request_type {
  @apply text-16 text-5774AC font-medium font-Poppins;
}
.divider_row {
  @apply flex w-full items-center;
}
.doted_line {
  @apply border-b border-dotted border-DDDDDF w-1/2 h-[1px];
}
.or_text {
  @apply text-71717A text-12 px-1 font-Poppins;
}
.request_info_div {
  @apply flex justify-between items-center cursor-pointer py-4 w-full;
}
.form_input_textarea {
  @apply w-full text-14 xl:text-16 outline-none hover:border-71717A xl:h-14 px-4 py-3 border border-DDDDDF rounded-xl placeholder:text-14 placeholder:text-71717A placeholder:tracking-0.3 mt-1 font-Poppins;
}
.form_label {
  @apply text-71717A text-14 xl:text-16 tracking-desc xl:tracking-0.3 leading-normal mt-8 mb-1 font-Poppins;
}
.cancellation_info {
  @apply flex w-full my-8 flex-col;
}
.buy_info {
  @apply flex flex-col w-full my-8 overflow-y-scroll;
}
.product_to_buy_wrapper {
  @apply flex;
}
.product_imge_thambnil {
  @apply w-6 h-6 rounded;
}
.repair_info {
  @apply flex flex-col gap-2 mt-6 border border-DDDDDF p-4 rounded-lg;
}
.selected_product_info_wrapper {
  @apply flex justify-between my-8;
}
.swap_info {
  @apply flex py-2 px-3 gap-2 bg-F7F7F8 rounded-[20px] items-center;
}
.swap_heading {
  @apply font-Poppins font-medium text-16 text-71717A;
}
.search_wrapper {
  @apply flex w-full items-center gap-2 border border-ECECEC rounded-lg px-4 py-2 mt-6;
}
.search_input {
  @apply outline-none  w-full;
}
.search_modal {
  @apply flex px-4 py-6 w-full absolute z-10 bg-fff my-2 border border-ECECEC gap-6 flex-col rounded-lg md:max-h-[240px] 3xl:max-h-[600px] 3xl:h-[400px] md:h-[240px] h-[190px] overflow-y-scroll;
}
.swap_second_screen {
  @apply w-full;
}
.transferownership_wrapper {
  @apply flex flex-col my-8 w-full md:h-[420px] overflow-y-scroll;
}
.main_sub_heading {
  @apply mt-8 font-medium text-20 font-Poppins;
}

/* additional */

.additional_content {
  @apply mt-12 text-20 tracking-0.4 text-45454A font-medium;
}
.download_btn {
  @apply cursor-pointer mt-8 flex justify-center h-12 xl:h-14 px-8 items-center rounded-lg border-2 border-71717A text-14 xl:text-16 font-medium text-71717A leading-5;
}
.plain_btn {
  @apply border-2 px-8 lg:h-[56px] h-[48px] items-center md:w-[393px] w-[95%] border-71717A bg-white text-71717A font-medium font-Poppins flex rounded-lg justify-center my-8;
}
.counter_box {
  @apply border border-71717A text-71717A text-12 flex justify-center items-center w-[37px] h-[37px] rounded-lg;
}
.images_wraper {
  @apply flex gap-1 flex-wrap justify-center w-[80px] h-[80px] rounded-lg relative;
}

.running_line {
  width: 100%;
  height: 2px;
  background: green;
  transform: translate(0, 100%);
}

.running_line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animate 3s linear;
}

@keyframes animate {
  100% {
    left: 100%;
  }
  0% {
    left: 0;
  }
}

.showCheckCircle {
  @apply flex;
}

.showDeleteIcon {
  @apply hidden;
}
.demo:hover .showDeleteIcon {
  @apply flex;
}
.demo:hover .showCheckCircle {
  @apply hidden;
}
.transfer_create_btn {
  @apply mt-8 rounded-lg bg-[#FFDF85] font-medium text-222 md:w-[393px] w-[95%] px-8 h-12 lg:h-14 flex items-center justify-center gap-[10px] mb-6 outline-none font-Poppins mx-4 md:mx-0;
}
