.main_container {
  @apply font-Poppins  lg:flex lg:gap-12 xl:gap-16 px-4 lg:pl-0 md:px-[70px] lg:pr-[70px] xl:pr-[90px] macbook:pr-[122px] 4xl:pr-[130px] lg:-mt-6;
}
.web {
  @apply hidden xl:block;
}
.mobile {
  @apply xl:hidden mt-3;
}
.doc_side_bar {
  @apply hidden lg:block min-w-fit;
}
.mobile_close_icon {
  @apply fixed md:hidden right-4 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-[64px];
}
.detail_div {
  @apply w-full lg:pb-[88px] pb-[48px];
}
.header {
  @apply mt-4 lg:mt-10 text-45454A text-18 xl:text-24 font-Poppins font-medium leading-8 tracking-[-0.36] xl:tracking-0.48;
}
.desc {
  @apply text-71717A text-14 xl:text-16 tracking-desc xl:tracking-0.3 font-Poppins;
}
.createRequestBtn {
  @apply bg-F6B704 rounded-lg w-fit px-8 lg:h-[56px] h-[48px] flex gap-[10px] text-14 lg:text-16 font-medium font-Poppins whitespace-nowrap items-center tracking-desc lg:tracking-0.3;
}
.des_wrapper {
  @apply flex justify-between w-full lg:items-center mt-8 gap-8 lg:flex-row flex-col;
}

.rightDrawer {
  @apply pt-6 md:p-0 md:w-[530px] 3xl:w-[680px] w-full !rounded-t-[20px] md:!rounded-none !max-h-[90%] md:!max-h-full !overflow-visible;
}
.content_wrapper {
  @apply flex w-full flex-col sm:pb-[50px] pb-[55px] mb-6 overflow-scroll h-full px-4 md:py-12 md:pl-12 md:pr-0;
}
.main_heading {
  @apply flex font-Poppins font-medium lg:text-24 text-20 lg:tracking-[-0.48px] tracking-[-0.4px] leading-[32px] w-full gap-2 text-45454A items-center;
}
.sub_heading {
  @apply my-8 text-71717A lg:text-16 tracking-desc lg:tracking-0.3 text-14 font-Poppins;
}
.info_wrapper {
  @apply flex flex-col w-full gap-6 h-full overflow-scroll;
}
.order_row {
  @apply flex w-full gap-2 items-center cursor-pointer;
}
.radio_button {
  @apply w-[20px] h-[20px] bg-5774AC cursor-pointer;
}
.bottom_row {
  @apply flex flex-col md:w-[530px] 3xl:w-[680px] w-full max-w-full right-0 items-center fixed bottom-0 z-[9999] bg-white;
  box-shadow: 0px -1px 4px 0px #00000040;
}
.bottom_row_formik {
  @apply absolute flex flex-col justify-center px-4 md:pl-12 md:pr-[89px] items-center -mx-4 md:-mx-12 bottom-0 z-[9999] w-full bg-white py-4 md:pt-8 md:pb-6;
  box-shadow: 0px -1px 4px 0px #00000040;
}
.bottom_line {
  @apply bg-DDDDDF;
}
.proceed_btn {
  @apply text-14 lg:text-16 tracking-desc lg:tracking-0.3 lg:mt-8 mt-4 rounded-lg bg-F6B704 font-medium text-222 md:w-[80%] w-[95%] px-8 h-12 min-h-[3rem] lg:min-h-[3.5rem] lg:h-14 flex items-center justify-center gap-[10px] lg:mb-6 mb-4 outline-none font-Poppins mx-4 md:mx-0;
}
.form_submit_btn {
  @apply text-14 lg:text-16 tracking-desc lg:tracking-0.3 w-full rounded-lg bg-F6B704 font-medium text-222 px-8 min-h-[48px] h-12 lg:h-14 flex items-center justify-center gap-[10px] outline-none font-Poppins;
}
.product_img {
  @apply w-[80px] h-[80px] rounded-lg;
}
.request_type {
  @apply lg:text-16 tracking-desc lg:tracking-0.3  text-14 text-5774AC font-medium font-Poppins;
}
.divider_row {
  @apply flex w-full items-center;
}
.doted_line {
  @apply border-b border-dotted border-DDDDDF w-1/2 h-[1px];
}
.or_text {
  @apply text-71717A text-12 px-1 font-Poppins;
}
.request_info_div {
  @apply flex justify-between items-center cursor-pointer py-4 w-full;
}
.form_input_textarea {
  @apply w-full text-14 tracking-[-0.28px] xl:text-16 xl:tracking-[-0.32px] outline-none hover:border-71717A px-4 py-3 border border-DDDDDF rounded-xl placeholder:text-14 xl:placeholder:text-16 placeholder:tracking-desc placeholder:text-71717A placeholder:xl:tracking-0.3 placeholder:font-normal placeholder:font-Poppins mt-1 font-Poppins resize-none leading-[24px];
}
.form_label {
  @apply text-71717A text-14 xl:text-16 tracking-desc xl:tracking-0.3 leading-normal mt-8 mb-1 font-Poppins;
}
.cancellation_info {
  @apply flex w-full my-8 flex-col;
}
.buy_info {
  @apply flex flex-col w-full my-8 mb-8 sm:mb-12 lg:mb-8 overflow-y-scroll xl:overflow-y-visible xl:mb-16;
}
.product_to_buy_wrapper {
  @apply flex flex-col;
}
.product_imge_thambnil {
  @apply w-6 h-6 rounded;
}
.repair_info {
  @apply flex flex-col gap-2 mt-6 border border-DDDDDF p-4 rounded-lg;
}
.selected_product_info_wrapper {
  @apply flex justify-between my-8;
}
.swap_info {
  @apply flex py-2 px-3 gap-2 bg-F7F7F8 rounded-[20px] items-center h-fit min-w-[80px];
}
.swap_heading {
  @apply font-Poppins font-medium lg:text-16 lg:tracking-0.3 tracking-desc mb-1 text-14 text-71717A;
}
.search_wrapper {
  @apply flex w-full items-center gap-2 border border-ECECEC rounded-lg px-4 py-2 lg:mt-6 mt-[4px] h-[40px];
}
.search_input {
  @apply outline-none  w-full text-14 text-[#222222] placeholder:text-9A9AA2 placeholder:text-14 font-Poppins tracking-desc;
}
.search_modal {
  @apply flex px-4 py-6 w-full z-10 bg-fff my-2 border border-ECECEC gap-6 flex-col rounded-lg md:max-h-[240px] 3xl:max-h-[600px] 3xl:h-[400px] md:h-[240px] h-[190px] overflow-y-scroll;
}
.swap_second_screen {
  @apply w-full;
}
.transferownership_wrapper {
  @apply flex flex-col my-8 w-full md:h-[420px] overflow-y-scroll;
}
.main_sub_heading {
  @apply mt-6 lg:mt-8 font-medium text-16 tracking-0.3 lg:text-20 font-Poppins lg:tracking-0.4;
}

/* additional */

.additional_content {
  @apply mt-12 text-20 tracking-0.4 text-45454A font-medium font-Poppins;
}
.download_btn {
  @apply font-Poppins cursor-pointer mt-8 flex justify-center h-12 xl:h-14 px-8 items-center rounded-lg border-2 border-71717A text-14 xl:text-16 font-medium text-71717A leading-5;
}
.plain_btn {
  @apply text-14 lg:text-16 tracking-desc lg:tracking-0.3 border-2 px-8 lg:h-[56px] h-[48px] items-center md:w-[393px] w-[95%] border-71717A bg-white text-71717A font-medium font-Poppins flex rounded-lg justify-center my-8;
}
.counter_box {
  @apply border border-71717A text-71717A text-12 flex justify-center items-center w-[37px] h-[37px] rounded-lg;
}
.images_wraper {
  @apply flex gap-1 flex-wrap justify-center w-[80px] h-[80px] rounded-lg relative;
}

.running_line {
  width: 100%;
  height: 2px;
  background: green;
  transform: translate(0, 100%);
}

.running_line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animate 3s linear;
}

@keyframes animate {
  100% {
    left: 100%;
  }
  0% {
    left: 0;
  }
}

.showCheckCircle {
  @apply flex w-5 h-5;
}

.showDeleteIcon {
  @apply hidden;
}
.demo:hover .showDeleteIcon {
  @apply flex;
}
.demo:hover .showCheckCircle {
  @apply hidden;
}
.transfer_create_btn {
  @apply text-14 lg:text-16 tracking-desc lg:tracking-0.3 mt-8 rounded-lg bg-[#FFDF85] font-medium text-222 md:w-[393px] w-[95%] px-8 h-12 lg:h-14 flex items-center justify-center gap-[10px] mb-6 outline-none font-Poppins mx-4 md:mx-0;
}
.contact_input {
  @apply w-full outline-none bg-transparent placeholder:text-14 placeholder:text-71717A placeholder:tracking-0.3;
}
.contact_input::placeholder {
  @apply font-Poppins font-normal text-16  text-[#71717A];
}

.showDeleteIcon {
  @apply hidden w-5 h-5 justify-center items-center rounded-full bg-[#D96060] p-1;
}
.check_wrapper {
  @apply flex items-center cursor-pointer ml-2;
  animation: slideIn 1.5s normal;
}
@keyframes slideIn {
  0% {
    opacity: 0;
  }
  99.999% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buy_checkbox_style {
  @apply w-6 h-[22px] rounded cursor-pointer mr-[7px];
}
.CancelMandate_indian_icon_wrapper {
  @apply flex gap-2 items-center;
}
.change_bill_cycle_container {
  @apply border border-DDDDDF p-4 rounded-lg;
}
.change_bill_cycle_toggle_wrapper {
  @apply flex gap-2 items-center cursor-pointer;
}
.create_new_request_skeleton_wrapper {
  @apply flex gap-4 flex-col;
}
.common_drawer_wrapper {
  @apply flex w-full md:gap-8 overflow-auto;
}
.web_close_icon_wrapper {
  @apply h-[24px] mt-12 mr-8;
}
.pickup_reason_btn_wrapper {
  @apply flex justify-center;
}
.pickup_reason_subtitle {
  @apply flex flex-col w-full my-8;
}
.pickup_reason_opt {
  @apply flex gap-2 items-center;
}
.pickup_reason_opt_wrapper {
  @apply my-6 flex w-full flex-col mt-4;
}
.relocation_indian_icon_wrapper {
  @apply flex gap-2 items-center;
}
.relocation_current_add_wrapper {
  @apply mt-4 flex flex-col;
}
.relocation_upload_doc_wrapper {
  @apply flex w-full flex-col;
}
.relocation_upload_doc_first_part {
  @apply flex items-center justify-between;
}
.relocation_choose_file_span {
  @apply text-14 font-Poppins text-71717A max-w-[237px] md:max-w-[280px] truncate;
}
.relocation_upload_icon_wrapper {
  @apply flex items-center gap-2;
}
.repair_toggle_wrapper {
  @apply flex gap-2 items-center cursor-pointer;
}
.repair_toggle_icon {
  @apply cursor-pointer min-w-[2rem];
}
.reson_for_repair_wrapper {
  @apply mt-4 flex flex-col;
}
.request_type_icon_wrapper {
  @apply flex gap-2 items-center;
}
.service_type_wrapper {
  @apply my-6 flex w-full flex-col mt-4;
}
