.main_container {
  @apply h-[90vh] md:h-full w-full xl:w-fit py-6 md:py-12 px-4 xs:px-7 md:pl-12 md:pr-[89px] font-Poppins;
}
.header {
  @apply text-20 xl:text-24 font-medium leading-8 tracking-0.4 xl:tracking-0.48 text-45454A;
}
.close_icon {
  @apply fixed right-4 lg:right-8 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-[68px] md:-mt-0;
}
.input_div {
  @apply mt-8 flex gap-2 py-3 px-4 rounded-xl border border-DDDDDF bg-fff hover:border-71717A;
}
.input {
  @apply border-none outline-none text-14 md:text-16 w-full placeholder:text-71717A placeholder:tracking-0.3 placeholder:text-14 placeholder:md:text-16;
}
.error {
  @apply text-12 mt-1 ml-1;
  color: red;
}
.apply_text {
  @apply text-5774AC text-14 md:text-16 font-medium tracking-0.3 cursor-pointer;
}
.coupons_wrapper {
  @apply mt-8 flex flex-col gap-4 md:gap-8 overflow-x-hidden overflow-y-scroll h-full;
}
.card {
  @apply 3xl:h-[135px] h-[100px] w-full md:w-[365px] justify-between 2xl:min-w-[405px] 3xl:min-w-[423px] relative items-center rounded-xl flex py-4 gap-4 pl-5 pr-[17px];
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.desc {
  @apply text-12 tracking-desc text-[#CCC5F4] leading-normal w-[116px] xl:w-full truncate;
}
.code {
  @apply mt-2 text-14 md:text-16 tracking-desc md:tracking-0.3 w-max font-Poppins leading-normal text-white;
}
.copy_div {
  @apply text-14 font-light tracking-desc flex min-w-[6rem] xl:min-w-[5.7rem] h-9 bg-white rounded-[20px] justify-center gap-1 items-center;
}
.line {
  @apply right-32 3xl:right-40 absolute top-0 bottom-0 border-l-2 border-dashed;
  /* border-left: 2px dashed #7e6dd5; */
}
.ellipse {
  @apply w-4 h-4 bg-F7F7F8 rounded-full absolute top-[42px] 3xl:top-[60px];
}
.left {
  @apply -left-2;
}
.right {
  @apply right-0 md:-right-2;
}
.Skeleton_text {
  @apply text-18 w-1/2;
}
.offer_card_skeleton {
  @apply flex w-full h-[90px];
}
.offer_coupon_skeleton {
  @apply flex mr-4 w-full h-full my-6;
}
.customDrawer {
  @apply !rounded-t-[20px] md:!rounded-t-none;
  /* animation: bounceUD 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important; */
  transition-timing-function: ease-in;
  overflow-y: visible !important;
}
.not_applicable_text {
  @apply -mt-4 md:-mt-7 text-14 md:text-16 tracking-desc md:tracking-0.3 text-71717A;
}
