.main_container {
  @apply bg-[#597492] lg:py-12 md:py-10 py-6 3xl:px-[160px] macbook:px-[122px] xl:px-[90px] lg:px-[80px] md:pl-[70px] pl-4;
}
.heading {
  @apply text-white flex font-Poppins text-20 font-medium leading-8 tracking-heading xl:text-32 xl:leading-10 xl:tracking-0.6 pb-8;
}
.card_container {
  @apply flex gap-4 md:gap-5 macbook:gap-7 lg:flex-wrap w-full overflow-x-scroll;
}
.card_wrapper {
  @apply relative min-h-[280px] sm:min-h-[250px] macbook:min-h-[262px] 3xl:min-h-[300px] macbook:min-w-[379px] xl:min-w-[350px] sm:min-w-[280px] min-w-[295px] lg:min-w-[274px] rounded-lg flex;
  flex: 1 0 calc(33.33% - 28px);
}
.heading_text {
  @apply flex font-Poppins text-20 font-medium leading-6 tracking-heading;
}
.content {
  @apply flex text-71717A text-16 font-Poppins font-normal leading-6 tracking-0.3 py-2;
}
.hassel_heading_wrapper {
  @apply absolute bottom-4 px-4 3xl:px-8 3xl:pr-20;
}
