.media_coverage_wrapper {
  @apply pb-8 pt-2 mt-6 xl:mt-[88px] pl-4 md:pl-[70px] xl:pl-[90px] macbook:pl-[122px] 3xl:pl-[160px];
}
.label {
  @apply text-14 xl:text-16 font-medium leading-5 tracking-desc xl:tracking-0.3 font-Poppins text-9A9AA2;
}
.heading {
  @apply text-20 xl:text-32 font-medium leading-8 xl:leading-10 tracking-heading xl:tracking-0.6 font-Poppins text-45454A;
}
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.carousel {
  width: 100%;
  margin: 0 auto;
  @apply flex;
}

.slide {
  @apply mb-0 mt-16 mx-4 w-full flex justify-center items-center h-auto;
}

.slide img {
  @apply max-w-full max-h-full w-[80%];
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-4150px, 0, 0); /* The image width */
  }
}

.ticker_container {
  overflow: hidden;
  display: flex;
  /* min-height: 20px; */
  /* width: 100%;
    margin: 0 auto; */
}

.ticker_container div {
  white-space: nowrap;
  animation: slide 45s linear infinite;
  min-width: max-content;
  /*height: 20px;
  margin-left: 100px; */
}
