.customModal {
  @apply md:!pl-12 md:!pr-[89px] md:!py-12 w-full md:!w-[530px] !h-fit !rounded-none font-Poppins !min-w-fit !outline-none !border-none;
  top: 50% !important;
  left: 50% !important ;
  transform: translate(-50%, -50%) !important;
}
.customCloseButton {
  @apply !top-12 !right-8 !outline-none !border-none !w-[25px] !h-[25px];
}
.close_icon {
  @apply md:bottom-[180px] fixed right-4 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-16 md:-mt-12;
}
.bottomDrawer {
  @apply !rounded-t-[20px] md:!rounded-t-none !px-4 !pt-6 !pb-8 font-Poppins;
}
.head {
  @apply text-45454A text-20 xl:text-24 font-medium leading-8 xl:tracking-0.48 min-w-fit;
}
.desc {
  @apply mt-8 text-14 xl:text-14 text-71717A tracking-desc xl:tracking-0.3;
}
.btn_wrapper_horizon {
  @apply flex gap-4 items-center mt-8;
}
.btn_wrapper_vertical {
  @apply flex flex-col gap-6 mt-8;
}
.white_btn {
  @apply cursor-pointer h-12 xl:h-14 w-full flex justify-center items-center px-8 rounded-lg text-14 xl:text-16 font-medium text-71717A border-2 border-71717A bg-fff;
}
.yellow_btn {
  @apply cursor-pointer h-12 xl:h-14 w-full flex justify-center items-center px-8 text-222 text-14 xl:text-16 font-medium rounded-lg bg-F6B704;
}
