.menu_list_wrapper {
  @apply md:flex hidden justify-between 3xl:px-[160px] macbook:px-[122px] xl:px-[90px] md:px-[70px] px-4 pb-4 mb-6;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.menu_list_left {
  @apply flex;
}

.menu_list_right {
  @apply flex;
}

.item_wrap {
  @apply flex items-center lg:mr-6 mr-4 lg:text-16 md:text-14 font-medium font-Poppins text-45454A whitespace-nowrap;
}
