.main_wrapper {
  @apply flex flex-col items-center mx-4 pb-4;
}
.img {
  @apply w-[245px] h-[245px] xl:w-[300px] xl:h-[300px] cursor-pointer;
}
.head {
  @apply mt-2 xl:mt-8 text-45454A text-20 xl:text-32 font-Poppins font-medium leading-8 xl:leading-10 tracking-0.4 xl:tracking-0.6;
}
.desc {
  @apply text-9A9AA2 text-14 xl:text-16 font-medium font-Poppins leading-5 tracking-desc xl:tracking-0.3;
}
.notfound_img_wrapper {
  @apply md:w-[440px] w-full flex items-center justify-center cursor-pointer;
}
.notfound_text_wrapper {
  @apply flex justify-center items-center flex-col cursor-pointer;
}
.bold_text {
  @apply text-45454A text-16 xl:text-20 xl:leading-10 tracking-0.3 xl:tracking-0.4 font-medium;
}
.btn {
  @apply font-Poppins mt-10 rounded-lg bg-F6B704 font-medium text-222 md:w-[440px] w-full xl:w-[440px] px-8 h-12 xl:h-14 flex items-center justify-center gap-[10px];
}

@media (max-width: 400px) {
  /* md breakpoint */
  .custom-component {
    width: 298px;
    height: 322.57px;
    top: 176px;
    left: 31px;
    gap: 32px;
    opacity: 0;
  }
}

@media (min-width: 1191px) {
  /* xl breakpoint */
  .custom-component {
    width: 1191px;
    height: 464px;
    top: 234px;
    left: 122px;
    gap: 32px;
    opacity: 0;
  }
}
