/* .main {
  @apply rounded-lg border border-gray-500 bg-white text-gray-900 font-Poppins text-base font-normal leading-normal tracking-tight px-4 py-3;
  width: 502px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../../assets//common_icons/downArrowDD.svg") right 16px
    center no-repeat white;
  background-size: 25px;
}
.main:focus-visible { */
/* border-style: none !important; */
/* outline-style: none !important;
} */
/* .main:focus-within { */
/* border-style: none !important; */
/* background: url("../../../assets//common_icons/upArrowDD.svg") 96% / 15%
    no-repeat white;
  background-size: 25px;
  outline-style: none !important;
}
.options {
  @apply px-4 py-3 block;
} */

/* CustomSelect.module.css */
.custom-select {
  @apply bg-white w-full lg:w-[502px] rounded-xl;
}

.selected-option {
  @apply flex justify-between bg-white border  rounded-xl font-Poppins tracking-desc xl:tracking-0.3 xl:text-16 text-14 font-normal py-3 px-4;
  border-top: 1px solid var(--grey-grey-300, #dddddf);
  line-height: normal;
}

.options {
  @apply hidden absolute bg-white border-b  list-none p-0;
  border-bottom: 1px solid var(--grey-grey-300, #dddddf);
}

.option {
  @apply p-2 cursor-pointer border bg-white font-Poppins text-base font-normal py-3 px-4;
  letter-spacing: -0.32px;
  line-height: normal;
  border-bottom: 1px solid var(--grey-grey-300, #dddddf);
}
.option:hover {
  background-color: #eff5ff;
  color: #5774ac;
}
.optionsActive {
  @apply hidden md:block;
}

.ddArrow {
  @apply !inline-block cursor-pointer;
}
.pointer {
  @apply cursor-pointer;
}
.selected_txt {
  @apply tracking-desc xl:tracking-0.3 font-Poppins text-14 xl:text-16 font-normal;
}

/* example.module.css */

.dropdown {
  @apply max-h-[260px] overflow-y-scroll;
}

.dropdown::-webkit-scrollbar {
  width: auto !important;
}

.dropdown::-webkit-scrollbar-track {
  width: auto !important;
  background-color: #ebebeb !important;
}

/* Handle */
.dropdown::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 3px !important;
}
.dropdown::-webkit-scrollbar-arrow {
  color: black;
}

.close_icon {
  @apply fixed right-4 lg:right-8 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-[68px] md:-mt-0;
}
.customDrawer {
  @apply !rounded-t-[20px] md:!rounded-t-none !max-h-[90%] md:!max-h-full;
  /* animation: bounceUD 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important; */
  /* transition-timing-function: ease-in; */
  overflow-y: visible !important;
}
