.mainContainer {
  @apply h-full hidden md:flex flex-col pl-[70px] xl:pl-[90px] macbook1:pl-[122px] font-Poppins bg-[#f7f9fc] pb-[150px];
}

/* .headingLinks {
  @apply;
} */

@media (max-width: 767px) {
  .mainContainer {
    padding-left: 0px; /* Adjust this value to your preferred mobile padding */
    margin: 0px 16px;
  }
}
.sectionHeadings {
  @apply text-6A6A6A font-Poppins text-14 font-normal;
}
.userNameText {
  @apply text-6A6A6A font-Poppins text-14 font-medium tracking-desc w-[169px] truncate;
}
.sectionItems {
  @apply text-45454A w-fit pb-[1px] font-Poppins text-base font-medium leading-3 tracking-0.3 my-[18px] hover:pb-0 hover:text-5774AC hover:border-b-[1px] hover:border-b-5774AC cursor-pointer;
}
.sectionItemsActive {
  @apply font-Poppins text-base font-medium leading-6 text-5774AC my-[6px] tracking-0.3;
}
.firstContainer {
  @apply mt-8 pb-4 border-b border-dashed border-DDDDDF;
}
.secondContainer {
  @apply mt-4 border-b pb-[6px] border-dashed pr-4;
}
.border_none {
  @apply !border-b-0 !pb-0;
}
.logoutTxt {
  @apply w-fit pb-[1px] cursor-pointer font-Poppins text-16 font-medium text-[#d96060] leading-3 tracking-0.3 mt-8
  hover:pb-0 hover:text-[#d96060] hover:border-b-[1px] hover:border-b-[#d96060];
}
.mainContainer_skeleton {
  @apply h-full w-full hidden md:flex flex-col pl-[70px] xl:pl-[90px] macbook1:pl-[122px] font-Poppins bg-[#f7f9fc] pb-[150px];
}
.logoutTxt_skeleton {
  @apply w-20 h-4;
}
.skeleton_full_width_height {
  @apply w-full h-full;
}

.skeleton_menu_docsidebar {
  @apply w-full mt-2;
}
.skeleton_menu_mapping {
  @apply w-full mt-4 pb-4 mb-6 border-b border-dashed border-DDDDDF mr-14;
}
.firstContainer_skeleton_div {
  @apply w-36 h-2 mb-2;
}
