/* .mainContainer {
  padding-left: 122px;
  background-color: green;
} */
.mainContainer {
  @apply hidden md:flex flex-col;

  padding-left: 122px;
  padding-right: 16px;
  background-color: #f7f9fc;
}

/* .headingLinks {
  @apply;
} */

@media (max-width: 767px) {
  .mainContainer {
    padding-left: 0px; /* Adjust this value to your preferred mobile padding */
    margin: 0px 16px;
  }
}

.sectionHeadings {
  @apply text-gray-600 font-Poppins text-14 font-normal;
}
.userNameText {
  @apply text-gray-600 font-Poppins text-14 font-medium leading-normal;
  letter-spacing: -0.28px;
}

.sectionItems {
  @apply text-gray-700 font-Poppins text-base font-medium;
  margin: 6px 0px;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.sectionItemsActive {
  @apply font-Poppins text-base font-medium   tracking-tight;
  color: #5774ac;
  margin: 6px 0px;
  line-height: 24px;
}
.firstContainer {
  @apply mt-8 pb-4 border-b border-dashed;
  border-color: #dddddf;
}
.secondContainer {
  @apply mt-4 border-b  border-dashed;
  padding-bottom: 6px;
}
.logoutTxt {
  @apply font-Poppins text-base font-medium;
  color: #d96060;
  margin-top: 34px;
  line-height: 24px;
  letter-spacing: -0.32px;
}
