@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body h1 h2 h3 h4 h5 h6 p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 0;
  /* width: none;
  display: none; */
}

::-webkit-scrollbar-track {
  width: 0px !important;
}
.mapped_filter::-webkit-scrollbar {
  width: 5px;
}
.mapped_filter::-webkit-scrollbar-track {
  width: 5px !important;
}
.mapped_filter::-webkit-scrollbar-thumb {
  width: 5px !important;
}
.slide .cursor-pointer {
  width: 95% !important;
  margin: auto !important;
}
.landing_page_carousel .carousel .control-dots {
  width: fit-content !important;
  border-radius: 12px;
  border: 2px solid var(--grey-grey-100, #f7f7f8);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(38.787879943847656px);
  margin: 10px 0 0 !important;
}
.carousel.carousel-slider {
  /* @apply flex justify-center; */
  display: flex;
  justify-content: center;
  overflow: visible !important;
}
.landing_page_carousel .carousel .control-dots .dot {
  background: white !important;
  opacity: 1 !important;
  margin-bottom: 0.2rem !important;
}
.landing_page_carousel .carousel .control-dots .selected {
  background: #597492 !important;
}
.landing_page_carousel .control-dots {
  bottom: -14px !important;
}

.react-responsive-modal-modal {
  @apply absolute xl:w-[345px] md:w-[300px] w-full bg-white border top-[6.5rem] xl:right-[19.5%] rounded-lg z-[111] h-[416px] overflow-y-scroll;
  position: absolute !important;
}

.large_layout {
  @apply last-screen:w-[2000px] mx-auto;
}

.skeleton_product_card {
  @apply w-[17.3rem] lg:w-[22.3rem] 3xl:w-[26.8rem] h-[17.8rem] lg:h-[22.8rem] 3xl:h-[26.8rem];
}
#filter-popover .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 20px !important;
}
#filter-popover .MuiPopover-paper {
  border-radius: 20px;
}
.css-58ftfq-MuiSkeleton-root {
  height: 100% !important;
}

input[type="checkbox"] {
  accent-color: #71717a !important;
}
input:checked ~ .checkmark {
  background-color: white;
}
input[type="radio"]:checked {
  accent-color: #597492 !important;
}
/* product page ratings progress bar styling */
.custom-progress-bar .rc-progress-line {
  border-radius: 4px;
}
#mobile-chat-container,
#fbots-wdgt {
  left: 30px !important;
}

@media screen and (max-width: 750px) {
  #mobile-chat-container {
    display: none;
  }
}

/* to hide bydefault arrrows in the input field for number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Adjust as needed */
}
/* #spandesc div p{
  @apply   !text-16 !text-71717A font-Poppins !leading-normal;
}
#spandesc div p span{
  @apply  !text-16 !text-71717A font-Poppins !leading-normal;
} */

/*mui accordian custom styling */
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 0px !important;
  max-height: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  @apply !mt-0 !mb-3;
}
.buy_checkbox_info {
  @apply flex gap-1 mt-[15px] items-center;
}
.buy_checkbox_info .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: #5774ac !important;
  padding: 0 !important;
}

@media screen and (max-width: 1280px) {
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    @apply !shadow-none;
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded .css-1wz20g3 {
    @apply !bg-F7F7F8 !mb-[12px];
  }
  .css-15v22id-MuiAccordionDetails-root {
    @apply !p-0;
  }
  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    @apply !p-0;
  }
  .css-1wz20g3 {
    @apply !shadow-none;
    background-color: none !important;
  }
}
