@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body h1 h2 h3 h4 h5 h6 p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 0px;
}

.carousel .control-dots {
  width: fit-content !important;
  border-radius: 12px;
  border: 2px solid var(--grey-grey-100, #f7f7f8);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(38.787879943847656px);
  margin: 10px 0 0 !important;
}
.carousel.carousel-slider {
  /* @apply flex justify-center; */
  display: flex;
  justify-content: center;
}
.carousel .control-dots .dot {
  background: white !important;
}
.carousel .control-dots .selected {
  background: #597492 !important;
}
