.Skeleton_wrapper {
  @apply w-[17.3rem] lg:w-[22.3rem] 3xl:w-[26.8rem] lg:h-[15.8rem] 2xl:h-[17.8rem] md:h-[10rem] sm:h-[8rem] mobile:h-[6rem] h-[5rem] mr-6;
}
.skeleton_main {
  @apply w-full h-full;
}
.main_containor {
  @apply flex flex-col pl-4 md:pl-[70px] xl:pl-[90px] macbook:pl-[122px] 3xl:pl-[160px] mt-8 xl:mt-10;
}
.Skeleton_row {
  @apply flex mt-6;
}
.Skeleton_text {
  @apply text-32 w-1/2;
}
.Skeleton_sub_text {
  @apply text-16 w-2/5 mt-2;
}
