/* .partnership_banner {
  @apply rounded mt-8 lg:mt-0 lg:min-w-[390px] xl:min-w-[420px] macbook:min-w-[490px] 3xl:min-w-[531px] xl:relative px-4 lg:px-0 md:mx-[70px] lg:mx-0;
} */
.partnership_banner {
  @apply w-full h-full;
}
.partnership_banner div {
  @apply lg:!h-full;
}
