.conatiner_wrapper {
  @apply 3xl:px-[160px] macbook:px-[122px] xl:px-[90px] md:px-[70px] px-4;
}
.container {
  @apply hidden w-full mobile:block;
}
.listings {
  @apply flex w-full items-center flex-wrap list-none;
}
.list {
  @apply mr-1 relative inline-flex items-center font-Poppins;
}
.route_text {
  @apply text-71717A text-14 font-normal font-Poppins leading-6 pr-1;
}
.inner_banner {
  @apply flex justify-center w-full h-auto;
}
.heading {
  @apply hidden text-45454A font-Poppins text-24 font-medium leading-10 tracking-headingOne pt-6 pb-4 mobile:block;
  font-feature-settings: "ss02" on;
}
.category_wrapper {
  @apply flex w-full mobile:overflow-x-scroll;
}
.category_container_box {
  @apply w-[156.558px] h-[117.419px] bg-[#F6F5F8] flex flex-col justify-center items-center mr-4;
}
.category_container {
  @apply text-71717A font-Poppins text-14 font-medium leading-[20.274p] tracking-desc mr-3;
}
.filter_sort_section {
  @apply flex justify-between items-center pt-12;
}
.filter {
  @apply flex px-4 py-2 justify-center items-center gap-2 rounded-2xl border-[2px] border-[#71717A] relative;
}
.filter_text_container {
  @apply flex mobile:w-auto w-[157px];
}
.filter_text {
  @apply font-Poppins text-14 mobile:text-12 font-medium leading-6 text-71717A;
}
.arrow_down {
  transition: transform 330ms ease;
}
.arrow_up {
  transition: transform 330ms ease;
  transform: rotate(180deg);
}
.filter_sort_Dropdown_container {
  @apply flex w-[228px] flex-col justify-center gap-6 rounded-2xl border-[2px] border-71717A absolute bg-white z-50 mt-3 p-4;
}
.sort_Dropdown_container {
  @apply flex w-[228px] flex-col justify-center right-20 gap-6 rounded-2xl border-[2px] border-71717A absolute bg-white z-50 mt-3 p-4;
}
.option_text {
  @apply font-Poppins text-14 font-medium leading-6 text-71717A pr-5;
}
.sortBy_container {
  @apply flex  justify-center items-center;
}
.sortBy_text {
  @apply text-71717A font-Poppins text-16 font-normal leading-6 pr-2;
}
.horizontal_line {
  @apply my-9 mobile:my-[26px] w-full h-[1.5px] bg-[#DDDDDF];
  /* flex: 1 0 0; */
}
.btn_container {
  @apply flex justify-center items-center gap-[10px] pr-6 pl-6 rounded-lg bg-[#F6B704] w-[196px] h-[40px];
}
.apply_btn {
  @apply text-[#222] font-Poppins justify-center text-14 font-medium leading-6;
}
.single_filter {
  @apply flex px-3 py-2 justify-center items-center gap-2 rounded-2xl border-[2px] border-71717A bg-[#FFF] w-fit h-fit mobile:hidden;
}
.single_filter_mobile {
  @apply flex px-3 py-2 justify-center items-center gap-2 rounded-2xl border-[2px] border-71717A bg-[#FFF] w-fit h-fit mobile:block;
}
.clear_All {
  @apply text-71717A font-Poppins text-14 font-medium leading-6;
  /* color: #71717A;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; */
}
.icon_size {
  @apply w-[1.42px] mobile:w-[1px];
}
.filter_card {
  @apply flex justify-between items-center mr-4 mobile:mr-2 mb-4 mobile:mb-3;
}
