.header_wrapper {
  @apply flex gap-1 items-center;
}
.backIcon {
  @apply min-w-[24px] min-h-[24px] text-222 cursor-pointer;
}
.header {
  @apply font-Poppins md:text-2xl text-lg;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.mainContainer {
  @apply md:mt-10;
}
.progressBarContainer {
  @apply mt-2 mb-10 w-full;
  background-color: #d9d9d9;
  margin-right: 149px !important;
  height: 4px;
}
@media (max-width: 767px) {
  .progressBarContainer {
    margin-right: 16px !important;
  }
}
.progressBar {
  @apply rounded-r-full;
  height: 4px;
  background: #67af7b;
}
