.drawer_wrapper {
  @apply max-h-[90vh] sm:h-full sm:max-h-none flex w-[430px] py-6 sm:pt-16 relative overflow-scroll;
}
.drawer_close {
  @apply flex mx-8 flex-col;
}
.drawer_content {
  @apply flex flex-col;
}
.close_icon {
  @apply cursor-pointer mt-[0.5rem];
}
.logo_text {
  @apply font-semibold md:text-[25px] text-[28px];
}

.menu_list {
  @apply flex flex-col mt-8 gap-3 lg:gap-4;
}
.menu_item {
  @apply flex sm:text-base text-14 text-45454A font-medium font-Poppins cursor-pointer;
}
.divider {
  @apply flex w-[225px] h-[2px] bg-EDEDEE border border-EDEDEE my-1 lg:my-4;
}
.menu_icon_drawer {
  @apply flex xl:w-10 xl:h-10 lg:w-8 lg:h-8 mobile:w-6 mobile:h-6 w-4 h-4 min-h-[16px] min-w-[16px] items-center cursor-pointer;
}
.header_city_name {
  @apply flex lg:text-base capitalize text-12 font-medium font-Poppins leading-[24px] items-center text-45454A cursor-pointer;
}
.select_heading {
  @apply text-20 sm:text-20 font-medium text-45454A;
}
.city_container {
  @apply flex flex-wrap w-full mt-4;
}
.city_wrapper {
  @apply flex flex-col xs:w-[110px] w-[81px] cursor-pointer p-2 h-[104px] my-4;
}
.city_thambnil {
  @apply flex rounded-[6px] w-full p-1 hover:border-[2px] hover:border-primary hover:rounded-[6px];
}
.city_name {
  @apply flex text-12 sm:text-14 font-Poppins items-center justify-center pt-2 capitalize text-center;
}
.city_drawer_wrapper {
  @apply sm:w-[500px] w-full px-4 sm:px-8 lg:px-0 rounded-t-lg;
}
.city_drawer_close {
  @apply sm:flex hidden;
}
.bottom_city_content {
  @apply flex w-full flex-col mt-8 xs:mt-10 sm:mt-14;
}
.bottom_subheading {
  @apply flex text-14 text-71717A font-medium leading-[20px] font-Poppins;
}
.bottom_heading {
  @apply flex sm:hidden rounded-lg border-71717A border-2 mt-4 sm:mr-4 md:py-3 py-[14px] leading-5  text-45454A font-Poppins font-medium text-14 sm:text-14 justify-center items-center;
}
.detail_line {
  @apply flex sm:hidden  pb-8 text-9A9AA2 text-12 leading-5 mt-1;
}
.responsive_city_drawer_close_icon {
  @apply absolute top-0 rounded-[50%] bg-white w-4 h-4 right-12;
}
.download_qr_wrapper {
  @apply sm:flex hidden my-4 justify-start pr-4;
}
.download_qr_wrapper img {
  @apply w-[40%];
}
.qr_text {
  @apply flex flex-col ml-3 justify-center text-9A9AA2  pb-[3.5rem];
}
.qr_text_span {
  @apply text-[#7895B0] font-bold text-24 leading-[24px];
}
.bottom_close_icon {
  /* @apply absolute w-8 h-8 flex justify-center items-center right-5 bg-white rounded-full top-4  z-[111]; */
  /* -top-11  */
  @apply fixed z-[999] right-4 lg:right-8 w-8 h-8 !bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-12 lg:-mt-0;
}
.-MuiPaper-root-MuiDrawer-paper {
  @apply !overflow-visible;
}
.bottomDrawer {
  @apply !rounded-t-[20px] sm:!rounded-t-none !overflow-y-visible;
}
.aclose_icon {
  position: fixed;
  background: white;
  padding: 4px;
  right: 8px;
  margin-top: -46px;
}

.profile_icon {
  @apply w-5 h-5;
}
