/* YourComponent.module.css */
.customModal {
  @apply md:!pl-12 md:!pr-[89px] md:!py-12 w-full md:!w-[497px] !h-[216px] !rounded-none;
  top: 50% !important;
  left: 50% !important ;
  transform: translate(-50%, -50%) !important;
}

.customCloseButton {
  @apply !top-12 !right-8 !outline-none !border-none !w-[25px] !h-[25px];
}
.close_icon {
  @apply bottom-[180px] fixed right-4 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-12;
}
.bottomDrawer {
  @apply !rounded-t-[20px] md:!rounded-t-none !px-4 !pt-6 !pb-8;
}
.head {
  @apply text-45454A text-20 md:text-24 font-medium leading-8 tracking-0.48 font-Poppins;
}
.btn_wrapper {
  @apply mt-8 flex gap-4;
}
.btn {
  @apply font-Poppins outline-none flex justify-center text-14 md:text-16 leading-5 font-medium items-center h-[48px] lg:h-[54px] w-[156px] md:w-[170px] rounded-lg border-2 cursor-pointer;
}
.yellow_btn {
  @apply bg-F6B704 border-F6B704 text-222 whitespace-nowrap;
}
.white_btn {
  @apply bg-fff border-71717A text-71717A;
}
