.rent_furniture_wrapper {
  @apply mx-4 md:mx-[70px] xl:mx-[90px] macbook:mx-[120px] mt-5 3xl:mx-[160px] xl:mt-[40px] font-Poppins;
}
.head {
  @apply text-20 xl:text-32 xl:leading-10 xl:tracking-0.6 font-medium leading-8 text-45454A tracking-heading;
}
.subhead {
  @apply hidden xl:flex font-medium text-71717A leading-5 tracking-0.3 mt-1;
}
.card_div {
  @apply mt-4 xl:mt-6 flex flex-wrap gap-4 xl:gap-6;
}
.card_wrapper {
  width: calc(33.33% - 20px);
  flex: calc(33.33% - 20px);
  cursor: pointer;
}
.category_img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  min-height: 100px;
}
.label_wrapper {
  @apply xl:pl-3 macbook:pl-0;
}
.label {
  @apply mt-1 xl:mt-3 text-45454A text-14 xl:text-20 xl:leading-normal font-medium tracking-desc xl:tracking-heading;
}
.desc {
  @apply text-14 text-71717A leading-5 xl:w-[330px] macbook:w-[371px] hidden xl:flex;
}
.pricetag {
  @apply absolute bottom-6 left-11 hidden xl:block;
}
.price {
  @apply text-14 text-fff leading-normal tracking-desc;
}
.span {
  @apply font-bold text-32;
}

.rent_furniture_skeleton {
  @apply flex w-full flex-wrap mt-8;
}
.rent_furniture_skeleton > span {
  @apply h-[50%] mr-4;
  width: calc(33.33% - 20px);
  flex: calc(33.33% - 20px);
}
.Skeleton_text {
  @apply text-32 w-1/2;
}
.Skeleton_sub_text {
  @apply text-16 w-2/5;
}

.skeleton_card_wrapper {
  @apply lg:h-[300px] md:h-[200px] sm:h-[180px] h-[100px];
}
