.wrapper {
  @apply w-full px-4 md:px-[70px] xl:px-[90px] macbook:px-[122px] 3xl:px-[160px] my-8;
}
.apiData {
  @apply font-Poppins;
}
.apiData div h4 {
  @apply pt-4 pb-2 font-Poppins text-[#45454A] text-20 font-medium;
}

.apiData div {
  @apply text-[#9A9AA2] font-Poppins text-14;
}
.apiDataSeo div font {
  @apply text-[#9A9AA2] font-Poppins text-14;
}

.apiDataSeo div font span {
  @apply text-[#9A9AA2] font-Poppins;
  font-size: 14px !important;
  font-family: "poppins" !important;
  /* @apply pt-4 pb-2 font-Poppins text-[#45454A] text-20 font-medium; */
}
.apiDataSeo h2 font span {
  @apply font-Poppins font-medium text-[#45454A];
  font-size: 20px !important;
}
.apiDataSeo h3 font span {
  @apply font-Poppins font-medium text-[#45454A];
  font-size: 20px !important;
}
.style_dynamic_keyword_SV8RQ ol li,
.style_dynamic_keyword_SV8RQ ul li {
  padding-left: 5px;
  line-height: 28px;
  font-family: Poppins, sans-serif !important;
  font-size: 16px !important;
  color: #71717a !important;
  text-align: justify !important;
}
