.main_container {
  @apply font-Poppins  lg:flex lg:gap-12 xl:gap-16 px-4 lg:pl-0 md:px-[70px] 3xl:pr-[160px] macbook:pr-[122px] xl:pr-[90px] md:pr-[70px] pr-4 lg:-mt-6;
}
.doc_side_bar {
  @apply hidden lg:block min-w-fit;
}
.right_div {
  @apply w-full pb-[88px];
}
.header {
  @apply mt-4 lg:mt-10 text-45454A text-18 xl:text-24 font-medium leading-8 tracking-[-0.36] xl:tracking-0.48;
}
.sub_head {
  @apply text-16 xl:text-20 font-medium tracking-0.3 xl:tracking-0.4 text-45454A mt-8 xl:mt-12;
}
.desc {
  @apply flex text-71717A text-14 xl:text-16 tracking-desc xl:tracking-0.3;
}

.amount_wrapper {
  @apply flex flex-col xl:flex-row xl:items-center xl:justify-between w-full xl:h-14 mt-4 xl:mt-6;
}
.pay_all_btn {
  @apply mt-4 xl:mt-0 px-8 rounded-lg h-12 xl:h-14 bg-F6B704 font-medium text-14 xl:text-16 text-222 tracking-desc xl:tracking-0.3;
}
.rupeeIcon {
  @apply font-Inter pl-2;
}
.tableContainer {
  @apply mt-8 !shadow-none;
}
/* .table {
  border-collapse: collapse;
} */
.tableHeaderCell {
  @apply !text-45454A !text-14 xl:!text-16 !font-medium !tracking-[-0.28px] xl:!tracking-[-0.32px] !font-Poppins pl-0 pt-0 pb-0 xl:!pr-4 cxl:!pr-8;
}
.tableCell {
  @apply whitespace-nowrap !max-w-fit !text-71717A !text-14 xl:!text-16 !tracking-[-0.28px] xl:!tracking-[-0.32px] !font-Poppins xl:py-8 pl-0 !w-fit pr-0 border-b-0 leading-normal pb-3;
}

.download_btn {
  @apply !font-Poppins cursor-pointer text-14 xl:text-16 rounded-lg border-2 border-71717A flex justify-center items-center px-5 h-[40px] font-medium text-71717A w-[144px] xl:w-fit;
}

.tableRow {
  @apply border-b border-b-EDEDEE;
}
.show_more_btn {
  @apply border-71717A border-2 bg-fff rounded-lg h-12 text-14 xl:text-16 xl:h-14 flex items-center gap-1 xl:gap-[10px] px-8 mt-4;
}
.down_arrow {
  @apply text-222 w-4 h-4 xl:w-5 xl:h-5;
}
.web {
  @apply hidden xl:block;
}

/* for mobile */
.mobile {
  @apply xl:hidden mt-3;
}
.accordian {
  @apply p-3 shadow-none border-b-0 rounded-none;
}
.accordian.Mui-expanded {
  @apply !my-0;
}
.accord_summary {
  @apply min-h-0 max-h-fit py-0 px-0 my-0 !bg-[#f7f7f8];
}
.accord_details {
  @apply p-0;
}
.exapnd_icon {
  @apply text-222 text-18;
}
.accordionSummary.Mui-expanded {
  @apply rounded-none min-h-fit max-h-fit p-0 m-0 border-b-0;
}
