.container {
  @apply flex flex-col w-full;
}
.heading_container {
  @apply flex w-full justify-between;
}
.heading {
  @apply font-Poppins text-32 font-medium leading-10 tracking-0.6;
}
.viewAllText {
  @apply font-Poppins text-18 font-medium leading-normal tracking-0.36 text-[#597492];
}
.viewButton {
  @apply flex justify-center items-center;
}
.card_text {
  @apply text-20 font-medium font-Poppins leading-normal tracking-0.4 text-[#45454A];
}
.card_container {
  @apply pt-6 w-[245px] bg-red-200 mr-6;
}
/* color: var(--grey-grey-700, #45454A);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.4px; */
