.container {
  @apply flex flex-col w-full gap-6 ms:gap-[88px];
}
.heading_container_home_furniture {
  @apply flex w-full justify-between  mb-4 ms:mb-6;
}
.heading_container {
  @apply flex w-full justify-between mb-4 ms:mb-6;
}
.heading {
  @apply font-Poppins text-20 md:text-32 font-medium leading-8 md:leading-10 tracking-heading md:tracking-0.6 text-[#45454A] whitespace-nowrap;
}
.viewAllText {
  @apply font-Poppins text-14 md:text-18 font-medium leading-normal tracking-desc md:tracking-0.36 text-[#597492] whitespace-nowrap;
}
.viewButton {
  @apply flex justify-center items-center gap-1;
}
.card_text {
  @apply text-sm ms:text-xl w-full font-medium font-Poppins tracking-desc ms:tracking-0.4 text-[#45454A] items-stretch mt-1 ms:mt-3 whitespace-normal;
  align-self: stretch;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  /* pointer-events: none; */
  -webkit-user-drag: none;
}
.card_container {
  @apply !w-[79.2px] ms:!w-[245px]  whitespace-nowrap;
}
.category_section_container {
  @apply flex w-full overflow-x-scroll gap-4 ms:gap-6;
}

.category_section_container::-webkit-scrollbar {
  width: none;
  display: none;
}

.images {
  /* -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent; */
  /* pointer-events: none; */
  /* -webkit-user-drag: none;
  user-select: none; */
}

.images_anchor {
  /* -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent; */
  /* pointer-events: none; */
  /* -webkit-user-drag: none;
  user-select: none; */
}

.card_div {
  /* -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent; */
  /* pointer-events: none; */
  /* -webkit-user-drag: none;
  user-select: none; */
}
