.main_container {
  @apply flex flex-wrap md:grid justify-center md:justify-normal macbook:px-[122px] xl:px-[90px] md:px-[70px] px-4 my-4;
  grid-template-columns: auto auto auto;
}
.card_box_product {
  @apply mr-2 2xl:mr-3 3xl:mr-4  mb-4 p-3 bg-white w-fit last-screen:mx-auto;
  cursor: pointer;
}
.card_box_product:hover {
  box-shadow: 1px 8px 20px grey;
}

.productCardWidth {
  /* @apply macbook:w-[23rem] 2xl:w-[25rem] 3xl:w-[27rem] 4xl:w-[32rem]; */
  width: 100%;
}
