/* .stepHeading {
  @apply mx-4 md:ml-16;
} */

.saveBtn {
  @apply mt-3 md:mt-0 mb-4 md:mb-0 md:w-[232px] font-Poppins font-medium text-14 xl:text-16;
}

.btnGroupContainer {
  @apply -mx-4 md:-mx-0;
  box-shadow: none;
}
@media (max-width: 767px) {
  .btnGroupContainer {
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.laterBtn {
  @apply mt-4 md:mt-0 md:w-[232px] font-Poppins text-71717A font-medium text-14 xl:text-16;
}

.formTermsSection {
  @apply mt-6 flex items-center;
}

/* .stepHeading {
  @apply;
} */
.btnGroup {
  @apply flex flex-col px-4 md:px-0 md:flex-row md:mt-8 bg-fff -mb-6 md:-mb-0 bottom-0 mt-4 md:static;
}

/* .btnGroup {
  @apply flex flex-col md:flex-row md:mt-8 relative bottom-0 mt-4 md:static pb-5;
} */

.formHeadingFirst {
  @apply mt-1;
}
.formHeadingSecond {
  @apply mt-8;
}
.formHeadingThird {
  @apply mt-4;
}

.formInputFirst {
  @apply mt-1 w-full lg:w-[505px];
}

.formInputFirst::-webkit-file-upload-button {
  visibility: hidden;
}
.flag {
  @apply w-6 h-6;
}
.form_input {
  @apply text-14 xl:text-16 outline-none hover:border-71717A  h-11 md:h-14 px-4 py-3 border border-DDDDDF rounded-xl placeholder:text-14 placeholder:text-71717A placeholder:tracking-0.3 mt-1;
}
.contact_input {
  @apply w-full border-none outline-none bg-transparent placeholder:text-14 placeholder:text-71717A placeholder:tracking-0.3;
}
.contact_input::placeholder {
  @apply font-Poppins font-normal text-16  text-[#71717A];
}
.chooseFile {
  @apply inline-block pl-2;
}
/* md:w-[477px] */

.close_icon {
  @apply fixed right-4 lg:right-8 w-8 h-8 bg-fff rounded-2xl cursor-pointer items-center flex justify-center -mt-[68px] md:-mt-0;
}

.showCheckCircle {
  @apply flex w-5 h-5;
  /* animation: slideIn 2s forwards; */
}

.showDeleteIcon {
  @apply hidden w-5 h-5 justify-center items-center rounded-full bg-[#D96060] p-1;
}

.delete_icon_filled {
  @apply w-full h-full;
  /* animation: slideIn 3s normal; */
}

.map_row_wrapper {
  @apply flex items-center mt-1 w-full lg:w-fit;
}

.check_wrapper {
  @apply items-center ml-2 cursor-pointer;
  animation: slideIn 1.5s normal;
}
.map_row_wrapper:hover .showDeleteIcon {
  @apply flex;
}
.map_row_wrapper:hover .showCheckCircle {
  @apply hidden;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  99.999% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
