/* Heading Styles  */
.stepHeading {
  @apply mx-4 md:ml-16;
}
.formHeadingFirst {
  @apply mt-1 mx-4 md:ml-16;
}
.formHeadingSecond {
  @apply mt-8 mx-4 md:ml-16;
}
.formHeadingThird {
  @apply mt-4 mx-4 md:ml-16;
}

.formStepSecond {
  @apply mt-1 mx-4 md:ml-16;
}

/* Inputs Styles  */

.formInputFirst {
  @apply mt-1 mx-4 md:ml-16;
}
.formInputSecond {
  @apply mt-2  flex mx-4 md:ml-16;
}
.formInputThird {
  @apply mt-1 mx-4 md:ml-16;
}

/* Others */

.formTermsSection {
  @apply mt-6 flex items-center mx-4 md:ml-16;
}

.btnGroup {
  @apply flex flex-col md:flex-row md:mt-8 relative bottom-0 mt-4 md:static mx-4 md:ml-16;
}
.btnGroupContainer {
  box-shadow: none;
}
@media (max-width: 767px) {
  .btnGroupContainer {
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.laterBtn {
  @apply mt-4 md:mt-0;
}
.saveBtn {
  @apply mt-3 md:mt-0 mb-4 md:mb-0;
}

.delete_item_text {
  @apply text-222 font-medium font-Poppins sm:text-24 text-20;
}

.delete_confirmation_text {
  @apply font-normal text-14 sm:text-16 font-Poppins py-8;
  color: #71717a;
}
.cancel_delete_btn {
  @apply border-2 rounded-lg py-4 px-6 sm:px-8 w-full font-Poppins text-14 sm:text-16 font-medium;
  border-color: #71717a;
}
.confirm_delete_btn {
  @apply border rounded-lg py-4 px-6 sm:px-8 ml-4 w-full font-Poppins text-16 font-medium;
  background-color: #f6b704;
}
.main_container {
  @apply bg-white w-max h-min absolute sm:top-1/2 left-1/2 sm:transform -translate-x-1/2 sm:-translate-y-1/2 rounded-t-3xl sm:rounded-none bottom-0 shadow-lg sm:p-12 px-4 pt-6 pb-8 flex;
}
.close_icon {
  @apply absolute sm:static -top-12 cursor-pointer bg-white rounded-full p-1 sm:p-0 right-6;
}
.close_icon_btn {
  @apply flex justify-start flex-col  pl-8;
}
